<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Бюро_технической_инвентаризации.Properties.Settings.BTIConnectionString"
            connectionString="Data Source=DESKTOP-7J49MA8;Initial Catalog=УП01_ИСПП5_Иванченко_ИВ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>